/* Background color of page #E5E5E5 
Backgroung color footer #2F303A
Color webname(footer) #2196F3, #FFFFFF
Color webname(header)#2196F3,#000000
main color #212121
gray color #757575

email,phone(footer) color: rgba(255, 255, 255, 0.6);

*/
body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
}

ul {
  list-style: none;
}
